/* variables allow you to define certain values which can be applied elsewhere. If that value changes after you've done a lot of work on your project, all you have to do is update one value (rather than go hunting for values across every line of code) */

/* Declaring your variables usinf the pseudo-class ':root' */
:root{
    --brandTeal: #0a7986;
    --brandOrange: #ce5528;
    --nerdFont: font-family: 'Courier New', Courier, monospace;
}

/* Applying your variables */
main p{
    color: var(--brandTeal);
}
footer nav a{
    background-color: var(--brandOrange);
}
footer p{
    font-family: var(--nerdFont);
}